# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Cache
.npm
.eslintcache
.yarn-integrity

# Other
.env
TODO
api-spec.json
build/
dist/
.DS_Store
.npmrc
serviceAccountKey.json